body {
  font-family: 'Indie Flower', cursive;
  color: #ff4444;
}

a {
  color: #ff4444;
  text-decoration: underline;
}

a:hover {
  color: #ff4444;
  font-weight: bold;
}

.clickable {
  cursor: pointer;
}


.divider-text tspan {
  fill: #666;
}

.agg-divider {
  stroke: #666;
  stroke-width: 1px;
  stroke-dasharray: 3, 3;
}

.row:not(:first-child) {
  margin-bottom: 80px;
}


#me {
  width: 30px;
  margin-left: 10px;
  margin-bottom: -10px;
}



button.button-default {
  color: #ff4444;
  border-color: #ff4444;
}

button.button-default:hover,
button.button-default.highlighted {
  color: #ffffff;
  background-color: #ff4444;
  border-color: #ff4444;
}

.container {
  margin-top: 50px;
  text-align: center;
}

#race,
#race-bar,
#market-scatter,
#poll-scatter {
  display: block;
  width: 80%;
  height: 600px;
  margin: 0 auto;
}

#race-bar {
  height: 300px;
}

path {
  stroke-width: 2;
  fill: none;
}

text {
  fill: #ff4444;
  stroke: none;
}

circle {
  fill: #fff;
  stroke-width: 2;
}



.axis path,
.axis line,
line.divider {
  fill: none;
  stroke: #ff4444;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.y.axis.linechart .domain {
  stroke: none;
  fill: none;
}

.y.axis.linechart.grid .tick {
  stroke: #ff4444;
  opacity: 0.5;
  fill: none;
  stroke-dasharray: 3, 3;
}

.y.axis.linechart.grid text {
  stroke: none;
  fill: none;
}

.ribbon {
  /* positioning */
  position: fixed;
  padding: 5px 45px;
  width: 128px;
  /* top left of the page */
  top: 50px;
  left: -50px;
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
  /* effects with some shadow */
  text-shadow: 0 0 0 #ffffff, 0 0 5px rgba(0, 0, 0, 0.3);
  /* looks */
  background-color: #ff4444;
  color: #ffffff;
  font-size: 13px;
  text-decoration: none;
  /* webkit antialias fix */
  -webkit-backface-visibility: hidden;
  letter-spacing: .5px;
  -webkit-transition: box-shadow 0.3s linear;
  -o-transition: box-shadow 0.3s linear;
  -moz-transition: box-shadow 0.3s linear;
  -ms-transition: box-shadow 0.3s linear;
  -kthtml-transition: box-shadow 0.3s linear;
  transition: box-shadow 0.3s linear;
}


a.ribbon:hover {
  color: #fff;
  box-shadow: 0 0 0 3px #ff4444, 0 0 20px -3px rgba(0, 0, 0, 0.5);
}
